* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFE8A3;
  font-family: 'Montserrat', sans-serif;
}

.node {
	position: relative;
	user-select: none;
	width: 0px;
	height: 0px;
}

.node>div {
	width: 60px;
	height: 60px;
	position: absolute;
	top: -30px;
	left: -30px;
	border-radius: 30px;
	background: #DDD;
	border: 30px solid #BBB;
	transform: scale(.25);
	transform: border .5s 0s;
}

.node>div:first-child {
	z-index: 10;
	transition: .3s .5s;
}

.node>div:first-child:hover {
	border: 5px solid #3C3;
	width: 60px;
	height: 60px;
	transition: .5s;
	transform: scale(1);
}

.node>div:last-child {
	z-index: 9;
	border: 10px solid #3C3;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 15px;
	transition: 
		all .3s,
		transform .5s .5s;
}

.node>div:first-child:hover~div {
	width: 200px;
	transform: scale(1);
	transition: 
		all .5s .5s,
		transform .5s .0s;
}

.node>div:last-child>div {
	overflow: hidden;
	white-space: nowrap;
	text-align: right;
}

.node-side {
	border: var(--color)
}

.links line {
	stroke: #999;
	stroke-opacity: 0.6;
}

.nodes circle {
	stroke: #fff;
	stroke-width: 1.5px;
}